.verso[data-transition="fade"] > .verso__page
    transition opacity 300ms ease-in-out

    &[data-state="current"]
        opacity 1

    &[data-state="previous"],
    &[data-state="before"],
    &[data-state="next"],
    &[data-state="after"]
        opacity 0
