.verso__status
    position absolute
    left 50%
    bottom 12px
    width 90px
    margin-left -45px
    z-index 3
    background-color rgba(#000, 0.3)
    color #fff
    text-align center
    padding 4px 0
    font-size 15px
    font-family inherit
    font-weight bold
    border-radius 5px
