.verso
    position relative
    min-height 100%
    margin 0 auto
    overflow hidden
    visibility hidden

    &.ready
        visibility visible

    > .verso__page
        absolute top left
        right 0
        bottom 0
        z-index 1

        &[data-state="current"]
            z-index 2
