.verso
    position relative
    min-height 100%
    margin 0 auto
    overflow hidden
    overflow-y auto
    visibility visible

    > .verso__page
        absolute top left
        right 0
        bottom 0
        z-index 1

    > .verso--current
        z-index 2

    > .verso--before,
    > .verso--after
        display none
